* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #023566;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(94, 96, 99);
}

footer {
  background-color: #023566;
  color: aliceblue;
}

.redes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  padding-top: 3rem;
}

.page-footer {
  background-color: #023566;
}
